.contract
{
  .text-center {
    text-align: center;
  }
  p {
    text-align: justify;
  }
  .subtitle, .clause, .important-text {
    font-weight: 900;
    text-decoration: underline;
  }
  .link {
    color: #000;
    text-decoration: none;
  }
  .title {
    text-align: center;
    font-weight: 900;
  }
  .header {
    position: absolute;
    top: 8mm;
    right: 20mm;
    p {
      margin: 0;
      text-align: right;
      color: #959595;
    }
  }
  .services-table {
    width: 100%;
    border-collapse: collapse;
    th {
      background-color: #EBEBEB;
      font-weight: 900;
      color: #000;
    }
    th, td {
      border: 1px solid #000;
    }
  }
}