.cover {
  .header {
    h1, h2 {
      font-weight: 900;
    }
    text-align: center;
  }
  h2 {
    font-weight: 900;
    text-transform: uppercase;
  }
  .columns-4 {
    td {
      width: 25%;
    }
  }
  table {
    width: 100%;
    border-collapse: collapse;
    th {
      font-weight: 900;
      text-transform: uppercase;
    }
    .width-30 {
      width: 30%;
    }
    .fill-box {
      border: 1px solid #000;
      //padding: 0 0.5rem;
      display: block;
      width: 2rem;
      height: 1rem;
      text-align: center;
      position: relative;
      margin: 0 1rem;
      span {
        width: 5px;
      }
    }
    .column-title {
      font-weight: 900;
      text-transform: uppercase;
    }
  }
  .separator {
    border-top: 1px solid $davivienda-gray;
    margin: 5px 0;
    width: 100%;
  }
}