// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Font Awesome
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/brands";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

@import "modules/variables";
@import "modules/fonts";
@import "modules/icons";
@import "modules/structure";
@import "modules/components";
@import "modules/insurance";
@import "modules/button";
@import "modules/header";
@import "modules/footer";
