.inner-content-banner {
  background-size: cover;
  text-align: center;
  font-weight: 100;
  color: #fff;
  padding: 75px 10% 50px;
  @include media-breakpoint-up(md) {
    padding: 75px 20% 50px;
  }
  .inner-content-icon {
    margin-bottom: 20px;
    img {
      width: 150px;
    }
  }
  .inner-content-title {
    h1 {
      font-weight: 100;
      margin-bottom: 0;
      @include dv-text-shadow();
      font-size: 2.5rem;
      @include media-breakpoint-up(sm) {
        font-size: 3rem;
      }
      @include media-breakpoint-up(md) {
        font-size: 4rem;
      }
      b {
        font-weight: 900;
      }
    }
  }
  .inner-content-product {
    font-size: 3rem;
    @include dv-text-shadow();
    b {
      font-weight: 900;
    }
  }
  .inner-content-separator {
    width: 500px;
    border-top: 5px solid $davivienda-red;
    margin: 0 auto 20px;
  }
  .inner-content-text {
    margin-bottom: 50px;
    @include dv-text-shadow();
    font-size: 1.5rem;
    @include media-breakpoint-up(sm) {
      font-size: 2rem;
    }
    @include media-breakpoint-up(md) {
      font-size: 2.5rem;
    }
    b {
      font-weight: 900;
    }
  }
  .highlighted-banner-content {
    background-color: #6D6E72;
    border-radius: 1rem;
    padding: 20px;
  }
}

.pending-analysis-banner {
  padding: 100px 10%;
  @include media-breakpoint-up(md) {
    padding: 242px 30% 140px;
  }
  .inner-content-title {
    h1 {
      font-size: 7rem;
      font-weight: 900;
    }
  }
}

.inner-content-form, .not-filled-form-container {
  margin-left: -15px;
  margin-right: -15px;
  @include media-breakpoint-up(md) {
    padding: 100px 10% 50px;
  }
  h2 {
    font-weight: 900;
    margin-bottom: 30px;
    font-size: 1.5rem;
    @include media-breakpoint-up(sm) {
      font-size: 2rem;
    }
  }
  //label {
  //  font-weight: 900;
  //}
  //.filled-inputs-container, .not-filled-inputs-container {
  //  padding: 2rem;
  //  .select2-selection--single {
  //    background-color: $davivienda-light-gray;
  //    border: none;
  //    border-radius: 0.5rem;
  //    height: 48px;
  //    .select2-selection__rendered {
  //      line-height: 48px;
  //      font-weight: 100;
  //    }
  //  }
  //}
  //.filled-inputs-container {
  //  background-color: #6D6E72;
  //  color: #fff;
  //}
  //.not-filled-inputs-container {
  //  .help-block {
  //    color: $davivienda-red;
  //    strong {
  //      font-weight: 100;
  //    }
  //  }
  //}
  //.form-control {
  //  background-color: $davivienda-light-gray;
  //  border: none;
  //  border-radius: 0.5rem;
  //  padding: 0.75rem 0.75rem;
  //}
  //.filled-field {
  //  background-color: #fff;
  //  &:focus {
  //    background-color: $davivienda-light-gray;
  //  }
  //}
  //select.form-control:not([size]):not([multiple]) {
  //  height: calc(2.25rem + 12px);
  //}
}
.not-filled-form-container {
  padding: 30px 20px 50px;
  background-color: transparent;
  color: #000;
  @include media-breakpoint-up(md) {
    padding: 50px 10% 50px;
  }
  .help-block {
    color: $davivienda-red;
  }
  .inner-form-disclaimer {
    padding: 20px 8%;
    font-weight: 100;
    font-size: 1rem;
    @include media-breakpoint-up(sm) {
      font-size: 1.2rem;
    }
    @include media-breakpoint-up(md) {
      font-size: 1.5rem;
    }
  }
  .terms, .link-to-terms {
    font-weight: 100;
    font-size: 1.1rem;
    margin-top: 15px;
    a {
      font-weight: 100;
      text-decoration: underline;
    }
  }
}

.inner-content-shops {
  .shop-icon {
    margin-bottom: 5px;
  }
  .shop-description {
    font-weight: 900;
    font-size: 3rem;
    @include dv-text-shadow();
  }
}