.inner-card-banner {
  background-size: cover;
  background-position-x: 100%;
  background-repeat: no-repeat;
  .card-banner-info {
    padding: 80px 20px 30px;
    @include media-breakpoint-up(xl) {
      padding: 50px;
      padding-left: 100px;
    }
    color: #fff;
    position: relative;
    .card-image {
      text-align: center;
      @include media-breakpoint-up(lg) {
        text-align: left;
      }
      @include media-breakpoint-up(xl) {
        margin-left: -50px;
      }
      img {
        max-width: 100%;
        @include media-breakpoint-up(md) {
          max-width: 450px;
        }
        @include media-breakpoint-up(lg) {
          max-width: 100%;
        }
        @include media-breakpoint-up(xl) {
          max-width: 450px;
        }
      }
    }
    .card-title {
      h1 {
        font-size: 2.5rem;
        font-weight: 100;
        line-height: 1;
        @include dv-text-shadow();
        @include media-breakpoint-up(sm) {
          font-size: 3rem;
        }
        @include media-breakpoint-up(md) {
          font-size: 3.5rem;
        }
        b {
          font-weight: 900;
        }
        span {
          font-weight: 900;
          font-size: 1.5em;
          @include media-breakpoint-up(lg) {
            font-size: 1.3em;
          }
          @include media-breakpoint-up(xl) {
            font-size: 1.5em;
          }
        }
      }
    }
    .card-description {
      font-weight: 100;
      font-size: 1.2rem;
      line-height: 1.2;
      @include dv-text-shadow();
      @include media-breakpoint-up(sm) {
        font-size: 1.5rem;
      }
    }
    .card-form-text {
      font-size: 2.5rem;
      font-weight: 100;
      @include dv-text-shadow();
    }
    .card-motives {
      position: absolute;
      bottom: 75px;
      left: 420px;
    }
  }
}

.card-banner-form, .inner-content-form, .not-filled-form-container {
  background-color: #6D6E72;
  font-weight: 100;
  color: #fff;
  padding: 50px 20px;
  -webkit-box-shadow: -19px 0px 20px -15px rgba(0,0,0,0.75);
  -moz-box-shadow: -19px 0px 20px -15px rgba(0,0,0,0.75);
  box-shadow: -19px 0px 20px -15px rgba(0,0,0,0.75);
  @include media-breakpoint-up(md) {
    padding: 100px 60px;
  }
  @include media-breakpoint-up(lg) {
    padding: 100px 40px;
  }
  .card-form-title {
    h2 {
      font-weight: 100;
      font-size: 1.5rem;
      @include media-breakpoint-up(sm) {
        font-size: 2.5rem;
      }
      b {
        font-weight: 900;
      }
    }
  }
  .birth-container, .name-container {
    margin: 0;
    .birth-day, .birth-month, .birth-year, .first-name-field, .middle-name-field, .last-name-field, .second-last-name-field {
      padding: 0;
    }
    .birth-day, .first-name-field, .last-name-field {
      select, input {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
    .birth-month {
      select, input {
        border-radius: 0;
        background-clip: unset;
      }
    }
    .birth-year, .second-last-name-field, .middle-name-field {
      select, input {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
    .middle-name-field, .last-name-field {
      select, input {
        @include media-breakpoint-up(sm) {
          border-radius: 0;
          background-clip: unset;
        }
      }
    }
  }
  .terms {
    font-size: 1.2rem;
    input[type=checkbox] {
      -ms-transform: scale(1.5);
      -moz-transform: scale(1.5);
      -webkit-transform: scale(1.5);
      -o-transform: scale(1.5);
      margin-right: 10px;
    }
  }
}

.main-features-container {
  background-color: $davivienda-light-gray;
  text-align: center;
  padding: 50px 20px;
  .main-feature {
    padding: 20px;
    @include media-breakpoint-up(lg) {
      padding: 20px 80px;
    }
    .main-feature-icon {

    }
    .main-feature-title {
      font-weight: 900;
      font-size: 2rem;
    }
    .main-feature-description {
      font-weight: 100;
      font-size: 1.2rem;
    }
  }
}

.benefits-container {
  padding: 100px 20%;
  .benefit-content {
    .benefit-title {
      font-weight: 900;
      font-size: 3rem;
    }
    .benefit-description {
      font-weight: 100;
      font-size: 1.2rem;
    }
  }
}

.related-cards-container {
  background-color: #fff;
  padding: 100px 15%;
  .related-cards-title {
    font-size: 2rem;
    font-weight: 100;
    margin-bottom: 20px;
  }
}

.swal2-popup {
  border-radius: 2rem !important;
  background-color: #DA0526 !important;
}

.swal2-popup .swal2-image {
  max-width: 130px !important;
}

.swal2-popup .swal2-title {
  font-family: "Myriad", Helvetica, Arial, sans-serif !important;
  font-weight: 900 !important;
  color: #fff !important;
}

.swal2-popup .swal2-content {
  font-size: 1.5rem !important;
  color: #fff !important;
}