.banner, .success-banner {
  text-align: center;
  padding: 25px 0;
  .banner-image {
    img {
      max-width: 150px;
    }
  }
  .banner-error {
    font-size: 16rem;
    font-weight: 900;
    color: $davivienda-red;
  }
  .banner-title {
    h1 {
      margin: 15px 0 0;
      font-weight: 900;
      font-size: 2.5rem;
    }
  }
  .banner-description {
    p {
      font-size: 1.5rem;
    }
  }
}

.success-banner {
  color: #fff;
  .banner-image {
    img {
      max-width: 350px;
    }
  }
}

.questions {
  font-size: 1.3rem;
}

.datepicker {
  .table-condensed {
    background-color: #fff;
    border-radius: 5px;
    th, td {
      padding: 5px 15px;
      text-align: center;
    }
    .day, .month, .year, .decade, .century {
      &:hover {
        background-color: $davivienda-light-gray;
        cursor: pointer;
      }
    }
    .month, .year, .decade, .century {
      padding: 8px;
    }
  }
}

.datepicker-dropdown.datepicker-orient-top:after {
  bottom: 2px;
}

.datepicker-dropdown.datepicker-orient-bottom:after {
  top: 2px;
}

.datepicker-dropdown.datepicker-orient-top:before {
  border: 0;
}

.datepicker-dropdown.datepicker-orient-bottom:before {
  border: 0;
}

.datepicker table tr td.active,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active:hover
{
  background-image: none;
  color: #fff;
  background-color: $davivienda-red !important;
}

.datepicker-switch {
  &:hover {
    background-color: $davivienda-light-gray;
    cursor: pointer;
  }
}

.davivienda-checkbox {
  input[type=checkbox]
  {
    /* Double-sized Checkboxes */
    -ms-transform: scale(2.5); /* IE */
    -moz-transform: scale(2.5); /* FF */
    -webkit-transform: scale(2.5); /* Safari and Chrome */
    -o-transform: scale(2.5); /* Opera */
    outline: 0;
  }

  label {
    margin-left: 10px;
  }
}

.control-label, .control-label-textarea {
  position: absolute;
  opacity: 0;
  transition: .2s bottom, .2s opacity;
  bottom: 0;
  left: 0;
  z-index: 1;
  cursor: text;
  font-size: 1rem;
  font-weight: 100;
}

.form-control:focus + .control-label, .form-control:focus + .control-label-textarea {
  bottom: 80%;
  font-size: 1rem;
  line-height: 1;
  opacity: 1;
  padding: 0 0 5px;
  cursor: default;
}
.form-control:focus + .control-label-textarea {
  bottom: 90%;
}

.form-control:focus + .error-label {
  top: -20px;
}

.form-group {
  position: relative;
  margin-bottom: 1.5rem;
  h2 {
    font-size: 1.5rem;
    font-weight: 100;
  }
  .standard-label {
    font-size: 1.5rem;
  }
  .davivienda-icon {
    font-size: 2.5rem;
    line-height: 1;
  }
  .radio-image {
    label > input{ /* HIDE RADIO */
      visibility: hidden; /* Makes input not-clickable */
      position: absolute; /* Remove input from document flow */
    }
    label > input + img{ /* IMAGE STYLES */
      cursor:pointer;
      background-color: #fff;
      border-radius: 20px;
      -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.25);
      -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.25);
      box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.25);
    }
    label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
      -webkit-box-shadow: inset 0px 0px 15px 1px rgba(237,28,39,0.75);
      -moz-box-shadow: inset 0px 0px 15px 1px rgba(237,28,39,0.75);
      box-shadow: inset 0px 0px 15px 1px rgba(237,28,39,0.75);
    }
  }
}

.form-control, .swal2-select, .product-attribute-update {
  font-weight: 100;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid gray;
  border-radius: 0;
  font-size: 1.2rem;
  option {
    font-weight: 100;
  }
  &:disabled, &[readonly] {
    background-color: transparent;
    border-bottom: 1px solid #798893;
    color: #798893;
  }
}

.swal2-select, .product-attribute-update {
  outline: none;
  &:focus {
    outline: none;
  }
}

.inner-form-disclaimer {
  font-size: 1.5rem;
  margin-bottom: 40px;
}

.help-block {
  color: $davivienda-red;
  font-size: 1.5rem;
  strong {
    font-weight: 100;
  }
}

.select2 {
  font-weight: 100;
  border: 0;
  border-bottom: 1px solid gray;
  border-radius: 0;
  font-size: 1.2rem;
  width: 100% !important;
  &:focus {
    outline: 0;
    @include box-shadow( 0 0 0 0.2rem rgba(237, 28, 39, 0.25));
  }
  .selection {
    &:focus {
      outline: 0;
      @include box-shadow( 0 0 0 0.2rem rgba(237, 28, 39, 0.25));
    }
    .select2-selection--single {
      height: 44px;
      background-color: transparent;
      border: 0;
      outline: 0;
      padding: 0 3px;
      .select2-selection__rendered {
        line-height: 44px;
      }
      .select2-selection__arrow {
        b {
          top: 70%;
        }
      }
    }
  }
}

select.form-control:not([size]):not([multiple]), .product-attribute-update {
  height: calc(1.8rem + 16px);
}

.select2-search--dropdown .select2-search__field,
.select2-results__option {
  font-weight: 100;
}

.select2-container--default .select2-results__group {
  font-weight: 900;
  color: #000;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: $davivienda-red;
}

.select2-container--default .select2-selection--single {
  border: 1px solid #ced4da;
}

.product-attribute-update {
  width: 100%;
}

.swal2-popup {
  .swal2-title {
    font-weight: 900 !important;
    font-size: 2.5rem !important;
  }
  #swal2-content {
    font-size: 1.5rem;
  }
  .swal2-styled.swal2-confirm {
    background-color: $davivienda-red !important;
    border: 0 !important;
    &:focus {
      box-shadow: none;
    }
  }
  .swal2-confirm, .swal2-cancel {
    --font-family-sans-serif: "Myriad", Helvetica, Arial, sans-serif;
    font-family: "Myriad", Helvetica, Arial, sans-serif;
    font-weight: 100 !important;
  }
}

.swal2-icon.swal2-success {
  .swal2-success-ring {
    border: .25em solid rgba(237,28,39,0.50);
  }
  [class^=swal2-success-line] {
    background-color: $davivienda-red;
  }
}

.swal2-icon.swal2-error {
  border-color: #D9D900;
  [class^=swal2-x-mark-line] {
    background-color: #D9D900;
  }
}

.davivienda-progress-bar {
  height: 0.5rem;
  background-color: $davivienda-light-gray;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  overflow: hidden;
}

.filled-step {
  background-color: $davivienda-red;
  display: block;
  height: 0.5rem;
  width: 100%;
}

.in-progress-step {
  display: block;
  height: 0.5rem;
  background-color: $davivienda-red;
  /*transition: width 250ms ease-in-out;*/
  transition: width 1.5s ease-in-out;
}

.form-title {
  font-weight: 100;
  text-transform: uppercase;
  margin-bottom: 3rem;
}


.rejection-container {
  background-color: $davivienda-dark-gray;
  position: absolute;
  top: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  text-align: center;
  width: 220px;
  font-size: 0.9rem;
  color: #fff;
  -webkit-box-shadow: 0px 8px 15px 1px rgba(149,149,149,0.50);
  -moz-box-shadow: 0px 8px 15px 1px rgba(149,149,149,0.50);
  box-shadow: 0px 8px 15px 1px rgba(149,149,149,0.50);
  z-index: 5;
  #rejection-toggle {
    background-color: transparent;
    border: 0;
    padding: 20px 10px 20px;
    width: 100%;
    cursor: pointer;
    color: #fff;
    font-weight: 900;
    line-height: 1;
    font-size: 1rem;
    &:focus {
      outline: none;
    }
    i {
      display: inline-block;
      color: #fff;
      font-size: 1.3rem;
      margin-right: 0.5rem;
    }
    .open-icon {
      -webkit-animation: open-animation 0.5s forwards;
      animation: open-animation 0.5s forwards;
    }

    @keyframes open-animation {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(45deg);
      }
    }

    .close-icon {
      -webkit-animation: close-animation 0.5s forwards;
      animation: close-animation 0.5s forwards;
    }

    @keyframes close-animation {
      0% {
        transform: rotate(45deg);
      }
      100% {
        transform: rotate(0deg);
      }
    }

    span {
      color: #fff;
      font-size: 1.3rem;
      display: inline-block;
    }
  }
  .rejection-content {
    padding: 0 20px 20px;
    font-weight: 100;
    label {
      font-size: 1.3rem;
      padding-left: 1rem;
    }
    .form-control {
      color: $davivienda-light-gray;
      &:focus {
        color: $davivienda-dark-gray;
      }
    }
    .help-block {
      font-size: 1.1rem;
      line-height: 1;
      color: orange;
    }
  }
}

.dataTables_wrapper {
  .dataTables_filter {
    label {
      font-weight: 100 !important;
    }
  }
  .dataTables_paginate
  {
    .pagination {
      padding-right: 12px;
      .page-item {
        .page-link {
          color: #fff;
          background-color: $davivienda-red;
          border-color: transparent;
          margin: 0 5px;
          border-radius: 0.5rem;
          min-width: 40px;
          text-align: center;
          &:focus {
            -webkit-box-shadow: 0 0 0 0.2rem rgba(237, 28, 39, 0.25);
            box-shadow: 0 0 0 0.2rem rgba(237, 28, 39, 0.25);
          }
        }
        &.disabled {
          .page-link {
            background-color: $davivienda-gray;
          }
        }
        &.active {
          .page-link {
            background-color: darken($davivienda-red, 10%);
          }
        }
      }
    }
  }
}

table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child:before {
  background-color: $davivienda-red;
}

.davivienda-datatables {
  width: 100%;
  th {
    font-weight: 900;
    text-align: center;
  }
  .odd {
    background-color: darken($davivienda-light-gray, 3%);
  }
  td {
    padding: 10px 0;
  }
  .query-files-column {
    padding: 1rem;
  }
}

table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child, table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child {
  padding-left: 0;
}

.upload-dropzone {
  height: 100%;
  padding-bottom: 2rem;
  .dropzone {
    height: 100%;
    border: 2px dashed rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
    text-align: center;
    .row {
      height: 100%;
    }
    .dz-message {
      margin: 0;
      span {
        font-size: 2rem;
      }
    }
  }
}

.input-bottom-tooltip {
  margin-top: -1.5rem;
  margin-bottom: 1rem;
  font-weight: 100;
  font-size: 1rem;
  color: $davivienda-dark-gray;
  background-color: $davivienda-light-gray;
  padding: 0.5rem 1rem;
  border-bottom-left-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
  b {
    font-weight: 900;
    font-size: 1.2rem;
  }
}

.no-break {
  white-space: nowrap;
}

.alert-user-incomplete-process {
  position: fixed;
  bottom: 35%;
  left: 0;
  z-index: 10;
  background-color: $davivienda-red;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 2rem 1rem 1rem;
  color: #fff;
  max-width: 18rem;
  .alert-user-close {
    text-align: right;
    position: absolute;
    right: 10px;
    top: 8px;
    button {
      background: none;
      border: 0;
      color: #fff;
      cursor: pointer;
      padding: 0.5rem;
      &:hover {
        color: darken(#fff, 5%);
      }
      &:active, &:focus {
        outline: none;
        color: darken(#fff, 10%);
      }
    }
  }
  .alert-user-title {
    h2 {
      font-weight: 900;
    }
  }
  .alert-user-content {
    ul {
      list-style: none;
      padding: 0;
      li {
        background: url("/design/motive-right.png") center left no-repeat;
        padding-left: 1.2rem;
        background-size: 0.6rem;
        a {
          color: #fff;
          text-decoration: underline;
          &:hover {
            color: darken(#fff, 5%);
          }
          &:active, &:focus {
            outline: none;
            color: darken(#fff, 10%);
          }
        }
      }
    }
  }
}

.result-message {
  background-color: $davivienda-dark-gray;
  padding: 1.5rem;
  border-radius: 1rem;
  h2 {
    margin-bottom: 0;
    font-size: 1.8rem;
    font-weight: 900;
    color: #fff;
  }
}

.results-table {
  margin: 2rem auto;
  border-radius: 1rem;
  overflow: hidden;
  tr {
    border-bottom: 1px solid #fff;
  }
  &:nth-last-child {
    border-bottom: 0;
  }
  td {
    padding: 1rem 2rem;
    font-size: 1.5rem;
  }
  .result-title {
    background-color: $davivienda-light-gray;
    font-weight: 900;
  }
  .result-value {
    background-color: $davivienda-red;
    color: #fff;
  }
  .result-value-secondary {
    background-color: darken($davivienda-light-gray, 10%);
  }
}

.product-general-information {
  ul {
    list-style: none;
    padding-inline-start: 1.8rem;
    li {
      strong {
        font-weight: 900;
      }
    }
  }
}

.product-comments-container {
  margin-top: 2rem;
  max-height: 40rem;
  overflow: auto;
  .product-comment {
    padding: 1rem;
    border-radius: 1rem;
    background-color: $davivienda-light-gray;
    margin-bottom: 1rem;
    h5 {
      font-size: 1rem;
      font-weight: 900;
    }
    p {
      margin-bottom: 0;
    }
  }
  .solved-comment {
    opacity: 0.5;
    h5, p {
      text-decoration: line-through;
    }
  }
}

.standard-table {
  border-collapse: collapse;
  width: 100%;
  td, th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  tr:hover {
    //background-color: #ddd;
  }
  th {
    padding-top: 12px;
    padding-bottom: 12px;
    font-weight: 900;
    text-align: left;
    background-color: $davivienda-red;
    color: white;
  }
  .standard-table-title {
    font-weight: 900;
  }
}