@font-face {
  font-family: "Myriad";
  src: url(/css/fonts/MyriadPro-Cond.otf);
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Myriad";
  src: url(/css/fonts/MyriadPro-CondIt.otf);
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Myriad";
  src: url(/css/fonts/MyriadPro-Regular.otf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Myriad";
  src: url(/css/fonts/MyriadPro-It.otf);
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Myriad";
  src: url(/css/fonts/MyriadPro-Semibold.otf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Myriad";
  src: url(/css/fonts/MyriadPro-SemiboldIt.otf);
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Myriad";
  src: url(/css/fonts/MyriadPro-BoldCond.otf);
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Myriad";
  src: url(/css/fonts/MyriadPro-BoldCondIt.otf);
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Myriad";
  src: url(/css/fonts/MyriadPro-Bold.otf);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Myriad";
  src: url(/css/fonts/MyriadPro-BoldIt.otf);
  font-weight: bold;
  font-style: italic;
}