.customer-information-table,
.user-information-table,
.product-information-table,
.coverage-information-table,
.results-information-table {
    width: 100%;
    .title {
        font-weight: 900;
    }
    .description {
        text-align: center;
    }
}

.customer-information-table {
    td {
        width: 12.5%;
    }
}

.user-information-table {}

.product-information-table {}

.results-information-table {
    td {
        width: 12.5%;
    }
}

.coverage-information-table {
    @include media-breakpoint-up(lg) {
        width: 60%;
    }
    margin-top: 1rem;
    th {
        font-weight: 100;
        font-size: 1.2rem;
    }
    .description {
        text-align: right;
    }
}

hr {
    display: inline-block;
    height: 1px;
    width: 50%;
    border: none;
}

.review-table-titles {
    font-weight: 900;
}