body {
  --font-family-sans-serif: "Myriad", Helvetica, Arial, sans-serif;
  font-family: "Myriad", Helvetica, Arial, sans-serif;
  color: $davivienda-dark-gray;
  background-color: #fff;
  font-size: 1rem;
  font-weight: 100;
}

#app {
  //margin-top: -50px;
  min-height: 93.1vh;
  //background-color: rgb(235, 235, 235);
  position: relative;
}

img {
  max-width: 100%;
}

.content {
  //background-color: $davivienda-light-gray;
  padding: 70px 0 50px;
}

a {
  &:focus {
    outline: none;
  }
}

.form-control:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(237, 28, 39, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(237, 28, 39, 0.25);
}

b {
  font-weight: 900;
}

h3 {
  font-size: 1.3rem;
  font-weight: 100;
}