// Colors
$davivienda-red: #ED1C27;
$davivienda-light-gray: #EBEBEB;
$davivienda-gray: #959595;
$davivienda-dark-gray: #6D6D71;
$davivienda-orange: #F7981B;

// Mixins
@mixin dv-text-shadow() {
  text-shadow: 3px 1px 5px rgba(0, 0, 0, 0.50);
}