.signature {
  p {
    text-align: justify;
  }
  h1, h2 {
    font-weight: 900;
  }

  .signature-table {
    width: 50%;
  }

  table {
    border-collapse: collapse;
    th {
      font-weight: 900;
    }
    .column-value {
      padding: 0 1rem;
    }
  }

  .customer-signature {
    width: 100%;
    height: 130px;
    border: 1px dashed $davivienda-gray;
  }

  .advisor-signature {
    height: 60px;
  }
}