body {
  font-size: 15px;
}

.logo img {
  max-width: 200px;
}

.policy-signatures {
  margin: -2rem auto;
}

.policy-signatures tr td {
  padding: 0rem 2rem;
  text-align: center;
}

.policy-signatures tr td p {
  margin: 0;
}

.policy-signatures tr td .policy-signature-img img {
  max-width: 8rem;
}

.fluid-4-column-table {
  table-layout: fixed;
  width: 100%;
}

.fluid-4-column-table td {
  width: 25%;
}

.fluid-2-column-table {
  table-layout: fixed;
  width: 100%;
}

.fluid-2-column-table td {
  width: 50%;
}

