<template>
        <div class="container">
            <div class="row justify-content-center">
                <form class="form-horizontal" id="form">
                    <div class="row">
                        <div class="col-12 form-group">
                            <h2>Información Financiera</h2>
                        </div>

                        <div class="col-2 form-group text-center">
                            <span class="davivienda-icon icon-id"></span>
                        </div>
                    </div>

                    <div class="row text-center">
                        <div class="col-12">
                            <button type="submit" class="btn btn-davivienda-red btn-loading" id="submit">
                                SIGUIENTE
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
</template>

<script>
    export default {
        name: 'BankAutoFirst',
        data () {
            return {
                data
            }
        }
    }
</script>

<style>

</style>


